/* about section homepage */
.about-text {
    font-size: 3rem;
}
.us-text {
    position: absolute;
    top: 30%;
    right: 0;
    transform: translate(35%, -5px);
    font-weight: 200;
    font-size: 4rem;
    color: #766e5c;
    letter-spacing: .2em;
}
.about-details .since {
    color: #766e5c;
    font-size: 1rem;
    margin-top: 12px;
}
/* about page */
.full-row {
    min-height:100vh;
}
.full-row .overlay{
    background: rgba(0, 0, 0, 0.75);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.full-row .inner-content {
    border-top: 9px solid #c2b59b;
    border-bottom: 9px solid #c2b59b;
}

.team .bg-white.text-center.box-shadow {
padding-top: 90px !important;
    width: 90% !important;
    transform: translate(0%, -70px) !important;
}

.team-vertical {
    position: absolute;
    height: 80%;
    width: 2px;
    background: var(--accent-primary);
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0px);
}

.team-horizontal {
    position: absolute;
    height: 2px;
    width: 80%;
    background: var(--accent-primary);
    top: 46.5%;
    left: 10%;
    transform: translate(0%, -50%);
}

.enduring-quality-text {
margin-top:15px;
background:rgba(0,0,0,.5);
color:white;
padding:15px 25px;
}