.text-white *,
.text-white {
  color: white;
}

.text-white a:hover {
  color: white;
}

.text-accent,
a {
  color: var(--accent-primary);
  text-decoration: none;
}

.text-accent-secondary {
  color: var(--accent-secondary);
}

.text-accent-tertiary {
  color: var(--accent-tertiary);
}

.text-gray {
  color: #585556;
}

.text-shadow {
  text-shadow: var(--text-shadow);
}

.text-black {
  color: black;
}

a.text-black:hover {
  color: black;
}

.lh-1 {
  line-height: 1;
}

.ls-1 {
  letter-spacing: 1em;
}

.nowrap {
  white-space: nowrap;
}

.wp-block-quote {
  border-left: 2px solid;
  margin: 0 0 1.75em;
  padding-left: 1em;
  font-style: italic;
  font-size: 18px;
}

.small {
  font-size:80%;
}

html,
body {
  font-family: 'pontiaclight';
}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
  font-family: 'pontiacbold';
  line-height: 1;
  margin:0;
}

h1, .h1 {
  font-size: 3.5rem;
}
h2, .h2 {
  font-size: 2.5rem;
}
h3, .h3 {
  font-size: 2.25rem;
}
h4, .h4 {
  font-size: 2rem;
}
h5,.h5{
  font-size:1.5rem;
}
.lead,h6,.h6{
  font-size:1.25rem;
}

.bold,
strong,b {
  font-family: 'pontiacbold';
}

.checkmark li {
  position: relative;
  list-style: none;
  margin:20px 0px;
  /* color: #a4a3a3; */
  /* text-shadow:var(--text-shadow); */
  /* font-style: italic; */
  /* font-family: 'poppinsbold'; */
}

.checkmark li:before {
  content: "";
  background: url('/wp-content/uploads/2024/06/Checkmark.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: -30px;
}

@media only screen and (max-width:768px) {
  .checkmark li {
    text-shadow:none;
  }
}

@media only screen and (max-width:991px) {
  .text-right .checkmark li {
    padding-right: 30px;
}

.text-right .checkmark li::before {
    right: 0;
    left: unset;
}
}

blockquote {
  font-size: 90%;
}

.pontiac-black {
  font-family: 'pontiacblack';
}

.pontiac-light {
  font-family: 'pontiaclight';
}

@media only screen and (max-width:767px) {
  h1, .h1 {
    font-size: 2.25rem;
  }
  h2, .h2 {
    font-size: 2.25rem;
  }
  h3, .h3 {
    font-size: 2rem;
  }
  h4, .h4 {
    font-size: 1.75rem;
  }
  h5,.h5{
    font-size:1.5rem;
  }
  .lead,h6,.h6{
    font-size:1.25rem;
  }
}

@media only screen and (min-width:992px) {
  .text-lg-white {
    color: white;
  }
  .text-lg-shadow {
    text-shadow:var(--text-shadow);
  }
}

@media only screen and (min-width:768px) {
  .text-md-white {
    color: white;
  }
  .text-md-shadow {
    text-shadow:var(--text-shadow);
  }
}

@media only screen and (max-width:767px) {
  .text-sm-white {
    color: white;
  }
  .text-sm-shadow {
    text-shadow:var(--text-shadow);
  }
}

/* 
font-family: cormorant-garamond, serif; 
font-weight:300;
font-weight:400;
font-weight:500;
font-weight:600;
font-weight:700;
*/